@model smallWorld.RouteConfig

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verify</title>
</head>
<body>
    <div> 
        <h2>@ViewData["Result"]</h2>
    </div>
</body>
</html>
